// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window#bar {
  background: transparent;
  color: $fg-color;
/*  font-weight: bold; */
  font-family: "Adwaita Mono Regular", monospace;

  .capsule {
    background: $bg-color;
    color: white;
    border-radius: 6px;
    font-family: "Adwaita Mono Regular", monospace;
  }

  button {
    background: transparent;
    border-style: none;
    border-width: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    background: transparent;
  }

  > centerbox {
/*    background: $bg-color; */
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  label {
/*    background: $bg-color; */
  }

}
